@import "../../../_bufer/mq.post.css"

.sitemap__home {
    padding 10px
    width 5%
}

.sitemap__home {
    position: relative
    box-sizing: border-box
    &::before {
        width: 100%
        height: 0
        background-color: #f0f8fe
        position: absolute
        top: 0
        left: 0
        content: ''
        transition: .3s
        z-index: -1
        backface-visibility: hidden
    }
}
.sitemap__home:hover {
    &::before {
        height: 100%
    }
}

.sitemap__home:focus {
    outline none!important
    &::before {
        height: 100%
    }
}

.sitemap__home.sitemap__home_disabled {
    &::before {
        height 0
    }
}
.sitemap__home_disabled .sitemap__home-svg {
    fill #777
    stroke #777
}
@media (--large-only) {
    .sitemap__home {
        padding 5px
        width 7%
    }
}

@media (--medium-only) {
    .sitemap__home {
        padding 5px
        width 7%
    }
}

@media (--small-only) {
    .sitemap__home {
        padding 1px
        width 7%
    }
}

@media (--xsmall-only) {
    .sitemap__home {
        padding 3px
        height 30px
        width 40px

    }
}