@import "../../../_bufer/mq.post.css"

.sitemap__image {
    padding 10px
    width 60px
}

.sitemap__image-svg {
    padding-top 5px
}

@media (--large-only) {
    .sitemap__image {
        padding 5px
        width 47px
    }
}

@media (--medium-only) {
    .sitemap__image {
        padding 5px
        width 47px
    }
}

@media (--small-only) {
    .sitemap__image {
        padding 5px
        width 47px
    }
    .sitemap__image-svg {
        padding-top 2px
    }
}

@media (--xsmall-only) {
    .sitemap__image {
        padding 0 0 0 5px
        width 31px
    }
    .sitemap__image-svg {
        padding-top 2px
    }
}