@import "../../../_bufer/mq.post.css"


.sitemap__button {
    position: relative
    box-sizing: border-box
    &::before {
    width: 100%
    height: 0
    background-color: #f0f8fe
    position: absolute
    top: 0
    left: 0
    content: ''
    transition: .3s
    z-index: -1
    backface-visibility: hidden
    }
}
.sitemap__button:hover {
    &::before {
        height: 100%
    }
}

.sitemap__button:focus {
    outline none!important
    &::before {
        height: 100%
    }
}


.button.sitemap__button {
    margin 0
    padding 1.7% 2.5%
    width auto
    height auto
}


@media (--xsmall-only) {
    .button.sitemap__button {
        padding 1.7% 3.5%
    }
}