@import "../../_bufer/mq.post.css"


.sitemap {
    position absolute
    top 0
    width 100%
    background-color #fff
    outline none !important
    z-index 1
    //display none
}

.sitemap_visible {
    display block
}

.sitemap__wrap {
    display flex
    flex-flow row wrap
    max-width 2048px
    margin-left auto
    margin-right auto
}

