.typography {
	&__item {
		margin-bottom: $space-xl;
	}
	&__view {
		margin-bottom: $space-s;
		box-sizing: border-box;
		padding: $space-l;
		position: relative;
		height: 96px;
		display: flex;
		align-items: center;
		background-color: var(--color-ghost);
	}
	&__text {
		.text {
			margin-bottom: $space-xxs;
			&:last-child {
				margin-bottom: 0px;
			}
		}
	}
}
