.demo__content {
	margin: auto;
	width: 1140px;
	padding-top: 72px;
	padding-bottom: 72px;
	&_size {
		&_l {
			width: 1140px;
		}
		&_m {
			width: 960px;
		}
		&_s {
			width: 740px;
		}
	}
	&_display {
		&_flex {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}
}
