.vector {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  &_bus {
    &_m-primary {
      width: 64px;
      height: 64px;
      background-image: url('bus.svg');
    }
  }
  &_chats {
    &_m-primary {
      width: 64px;
      height: 64px;
      background-image: url('chats.svg');
    }
  }
  &_error-bug {
    &_m-primary {
      width: 64px;
      height: 64px;
      background-image: url('error-bug.svg');
    }
  }
  &_filing-cabinet {
    &_m-primary {
      width: 64px;
      height: 64px;
      background-image: url('filing-cabinet.svg');
    }
  }
  &_controller {
    &_m-primary {
      width: 64px;
      height: 64px;
      background-image: url('controller.svg');
    }
  }
  &_hamburger {
    &_m-primary {
      width: 64px;
      height: 64px;
      background-image: url('hamburger.svg');
    }
  }
  &_image-folder {
    &_m-primary {
      width: 64px;
      height: 64px;
      background-image: url('image-folder.svg');
    }
  }
  &_luxury {
    &_m-primary {
      width: 64px;
      height: 64px;
      background-image: url('luxury.svg');
    }
  }
  &_map-marker {
    &_m-primary {
      width: 64px;
      height: 64px;
      background-image: url('map-marker.svg');
    }
  }
  &_message-app {
    &_m-primary {
      width: 64px;
      height: 64px;
      background-image: url('message-app.svg');
    }
  }
  &_paint-bucket {
    &_m-primary {
      width: 64px;
      height: 64px;
      background-image: url('paint-bucket.svg');
    }
  }
  &_play-movie {
    &_m-primary {
      width: 64px;
      height: 64px;
      background-image: url('play-movie.svg');
    }
  }
  &_polaroid {
    &_m-primary {
      width: 64px;
      height: 64px;
      background-image: url('polaroid.svg');
    }
  }
  &_read-email {
    &_m-primary {
      width: 64px;
      height: 64px;
      background-image: url('read-email.svg');
    }
  }
  &_safe {
    &_m-primary {
      width: 64px;
      height: 64px;
      background-image: url('safe.svg');
    }
  }
  &_shopping-bag {
    &_m-primary {
      width: 64px;
      height: 64px;
      background-image: url('shopping-bag.svg');
    }
  }
  &_shopping {
    &_m-primary {
      width: 64px;
      height: 64px;
      background-image: url('shopping.svg');
    }
  }
  &_spacecraft {
    &_m-primary {
      width: 64px;
      height: 64px;
      background-image: url('spacecraft.svg');
    }
  }
  &_umbrella {
    &_m-primary {
      width: 64px;
      height: 64px;
      background-image: url('umbrella.svg');
    }
  }
}
