.offer {
  width: 296px;
  overflow: hidden;
  border-radius: 12px;
  /*position: relative;*/

  &_view {
    &_brabus {
      /*&:after {
        content: '';
        position: absolute;
        bottom: 0px;
        height: 100%;
        width: 100%;
        opacity: 0.3;
       }*/

    }
  }

	&__background-wrapper {
		content: '';
		position: absolute;
		display: block;
		overflow: hidden;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		border-radius: 12px;
	}

	&__bg-photo {
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		width: 316px;
		height: 100%;
		background-color: var(--color-inverse);
		background-image: url('brabus.png');
		background-size: 100%;
		background-position: center;
	}

  &__show {
    overflow: hidden;
    position: relative;
    height: 280px;
  }

  &__background {
    position: absolute;
    width: 220px;
    height: 220px;
    margin-left: -110px;
    left: 50%;
    top: var(--space-xl);
    border-radius: 999em;
    background: var(--color-inverse);
  }

  &__goods-price {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    text-align: center;
    font-size: 160px;
    line-height: 195px;
    z-index: 2;
    -webkit-text-stroke: 1px var(--color-typo-letter);
    -webkit-text-fill-color: transparent;
  }

  &__action {
    position: relative;

    &::after {
     content: '';
     position: absolute;
     bottom: 16px;
     left: 50%;
     transform: translateX(-50%) scaleX(1);
       width: 50px;
       height: 2px;
       margin: var(--space-xxs) auto 0;
       background-color: var(--color-ghost);
     transition: transform .2s, background-color .2s;
     }
   }

   &:hover {
    & .offer__action::after {
      background-color: var(--color-typo-letter);
      transform: translateX(-50%) scaleX(1.3);
      transition: transform .35s cubic-bezier(0.25, 0.1, 0, 3), background-color .2s;
    }
  }

  &__item {
    position: absolute;
    left: 12px;
    top: 120px;
    width: 264px;
    height: 150px;
    background-size: 264px;
    background-image: url('nike.png');
    background-repeat: no-repeat;
		z-index: 2;
  }

  &__action {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 16px;
      left: 50%;
      transform: translateX(-50%) scaleX(1);
      width: 50px;
      height: 2px;
      margin: var(--space-xxs) auto 0;
      background-color: var(--color-ghost);
      transition: transform .2s, background-color .2s;
    }
  }

  &:hover {
    & .offer__action::after {
      background-color: var(--color-typo-letter);
      transform: translateX(-50%) scaleX(1.3);
      transition: transform .35s cubic-bezier(0.25, 0.1, 0, 3), background-color .2s;
    }
  }

  &__title {
    z-index: 1;
  }

  &__service-info {
    z-index: 1;
  }

	&__brand-image-wrapper {
		/* width: 248px;
		height: 248px; */
		overflow: hidden;
	}
	&__brand-image {
		background-image: url('uniqlo-photo.png');
		background-repeat: no-repeat;
		background-size: 100%;
		width: 280px;
		height: 248px;
	}
	&__brand-logo {
		background-image: url('uniqlo-logo.png');
		background-size: 70px;
		margin: 0 auto;
		width: 70px;
		height: 32px;
	}


}
