.offer {
  width: 296px;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
  &_view {
    &_brabus {
      &:after {
        content: '';
        position: absolute;
        bottom: 0px;
        height: 100%;
        width: 100%;
        opacity: 0.3;
        background: var(--color-inverse);
       }
      background-image: url('brabus.png') !important;
      background-size: 296px !important;
    }
  }
  &__show {
    overflow: hidden;
    position: relative;
    height: 280px;
  }
  &__background {
    position: absolute;
    width: 220px;
    height: 220px;
    margin-left: -110px;
    left: 50%;
    top: var(--space-xl);
    border-radius: 999em;
    background: var(--color-inverse);
  }
  &__price-centralized {
    width: 480px;
    position: absolute;
    margin-left: -240px;
    left: 50%;
    text-align: center;
  }
  &__goods-price {
    font-size: 160px;
    line-height: 195px;
    z-index: 2;
    -webkit-text-stroke: 2px var(--color-typo-letter);
    -webkit-text-fill-color: transparent;
  }
  &__item {
    position: absolute;
    left: 12px;
    top: 120px;
    width: 264px;
    height: 150px;
    background-size: 264px;
    background-image: url('nike.png');
    background-repeat: no-repeat;
  }
  &__border-bottom {
    width: 60px;
    height: 2px;
    margin: var(--space-xxs) auto 0;
    background-color: var(--color-ghost);
  }
  &__title {
    z-index: 1;
  }
  &__brand-info {
    z-index: 1;
  }
}
