.button
    text-align: center
    cursor: pointer
    color: inherit
    background-color: inherit
    box-sizing: border-box
    padding: 0
    border: none
    text-rendering: auto
    letter-spacing: normal
    word-spacing: normal
    text-transform: none
    text-indent: 0px
    text-shadow: none
    display: inline-block
    margin: 0 15px
    font: inherit
    outline none!important