:block(button):mod(theme red) {
    min-width: auto;
    width: 100%;
    margin 0
    position: relative;
    top: 0;
    display: inline-block;
    background-image: linear-gradient(to top, #ca5141 0%, #e15f4e 100%);
    font-family "Russia Bold", sans-serif;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.21);
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: .2s;
    backface-visibility: hidden
}

.button_theme_red.button_size_s {
    line-height: 22px;
    font-size 0.8em
    box-shadow 0 3px 0 #ad4234
    padding 0 0.8em
    &:active {
        top: 3px;
        box-shadow: 0 0 0
    }
}
.button_theme_red.button_size_m {
    line-height: 36px;
    box-shadow 0 4px 0 #ad4234
    padding 0 1em
    &:active {
        top: 4px;
        box-shadow: 0 0 0
    }
}
.button_theme_red.button_size_l {
    line-height: 48px;
    font-size 1.2em
    box-shadow 0 5px 0 #ad4234
    padding 0 1.2em
    &:active {
        top: 5px;
        box-shadow: 0 0 0
    }
}
.button_theme_red.button_size_xl {
    line-height: 54px;
    font-size 1.4em
    box-shadow 0 7px 0 #ad4234
    padding 0 1.4em
    &:active {
        top: 7px;
        box-shadow: 0 0 0
    }
}
    