@font-face {
    font-family: 'OpenGost Type B TT';
    src: local('OpenGost Type B TT Regular'), local('OpenGostTypeBTT-Regular'), url('opengosttypebttregular.woff2') format('woff2'), url('opengosttypebttregular.woff') format('woff'), url('opengosttypebttregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
