.promo-cards {
	position: relative;
	height: 100vh;
	min-height: calc(524px + 40px + 40px);
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	&_slide {
		&_first {
			.promo-cards__card {
				transform: translate(0);
			}


			.promo-cards__description {
				transform: translate(0);
			}

			.promo-cards__theme-name {

			}
		}
		&_second {
			.promo-cards__card {
				transform: translate(328px);
			}


			.promo-cards__description {
				transform: translate(-428px);
			}

			.promo-cards__theme-name {

			}
		}
		&_third {
			.promo-cards__card {
				transform: translate(656px);
			}


			.promo-cards__description {
				transform: translate(-332px);
			}

			.promo-cards__theme-name {

			}
		}
	}

	&_view {
		&_default {
			background: white;
		}
		&_ghost {
			background: #F5F5F5;
		}
		&_inverse {
			background: #2E3033;
		}
	}


	&__content {
		margin: auto;
		width: 1022px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	&__theme-name {
		position: absolute;
		font-family: 'IBM Plex Mono';
		font-size: 200px;
		color: transparent;
		-webkit-text-stroke: .2px var(--color-alert);
		text-transform: uppercase;
		transform: rotate(-90deg);
		transition: .3s ease;
	}
	&__controls {
		position: absolute;
		bottom: var(--space-xl);
		left: var(--space-xxxl);
	}
	&__list {
		flex-basis: 100%;
		display: flex;
		justify-content: center;
	}
	&__item {
		position: relative;
		width: 296px;
		font-family: 'IBM Plex Mono' !important;

		&:before {
			content: '';
			position: absolute;
			top: -504px;
			left: 0;
			width: 100%;
			height: 456px;
			box-sizing: border-box;
			border-radius: 12px;
			border: 1px solid rgba(0, 0, 0, .08);
		}
	}
	&__header {
		font-family: 'IBM Plex Sans' !important;
		font-size: 56px;
		font-weight: bold;
	}
	&__card {
		position: relative;
		top: 0px;
		width: 296px;
		height: 456px;
		margin-left: 35px;
		margin-right: 96px;
		border-radius: 12px;
		background: white;
		z-index: 1;
		transition: transform .4s .3s;

		/*&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 5%;
			width: 90%;
			height: 90%;
			pointer-events: none;
			box-shadow: 0 0px 10px rgba(0, 0, 0, .8);
			transition: .3s ease;
		}*/


	}

	&__hover {
		transition: transform .3s, box-shadow .3s;
		box-shadow: 0 4px 10px -4px rgba(0, 0, 0, .6);

		&:hover {
			transform: translateY(-6px);
			box-shadow: 0 30px 40px -20px rgba(0, 0, 0, .4);
			transition-timing-function: cubic-bezier(0.25, 0.1, 0, 1.9);
		}
	}
	&__description {
		flex-basis: 560px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		font-family: 'IBM Plex Mono' !important;
		z-index: 1;
		transition: .3s ease;
	}


	/*///// OFFER //////////////////////// */

	&__offer {

		&_type {
			&_goods {
				& .promo-cards__offer {

					&-background {
						transform: scale(1);
						opacity: 1;
						transition: transform .4s cubic-bezier(0.75,-0.5, 0.25, 1) .2s;
					}
					&-goods-price {
						transform: translateX(-50%);
						opacity: 1;
						transition: transform .4s .2s, opacity .3s .3s;
					}

					&-item {
						transform: translateX(0);
						opacity: 1;
						transition: transform .4s .25s, opacity .3s .35s;
					}

					&-title {
						transform: translateX(0);
						opacity: 1;
						transition: transform .4s .3s, opacity .3s .4s;
					}
					&-desc {
						transform: translateX(0);
						opacity: 1;
						transition: transform .4s .35s, opacity .3s .45s;
					}

					&-action {
						transform: translateY(0);
						transition: transform .4s .6s;
					}
				}

			}
		}

		&_type {
			&_brand {
				& .promo-cards__offer {

					&-background {
						transform: scale(0);
						opacity: 0;
						transition: transform .6s cubic-bezier(0.75,-0.7, 0.25, 1), opacity .1s .6s;
					}

					&-goods-price {
						transform: translateX(100%);
						opacity: 0;
						transition: transform .4s .2s, opacity .3s .3s;
					}

					&-item {
						transform: translateX(150%);
						opacity: 0;
						transition: transform .4s .25s, opacity .3s .35s;
					}

					&-title {
						transform: translateX(150%);
						opacity: 0;
						transition: transform .4s .3s, opacity .3s .4s;
					}
					&-desc {
						transform: translateX(150%);
						opacity: 0;
						transition: transform .4s .35s, opacity .3s .45s;
					}

					&-action {
						transform: translateY(200%);
						transition: transform .4s .05s;
					}
				}

			}
		}


	}
}
