.promo-cards {
	position: relative;
	height: 100vh;
	min-height: calc(524px + 40px + 40px);
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;

	&_slide {
		&_first {
			.promo-cards__card {
				transform: translate(0);
			}


			.promo-cards__description {
				transform: translate(0);
			}

			.promo-cards__theme-name {
				transform: translate(0) rotate(-90deg);
			}
		}
		&_second {
			.promo-cards__card {
				transform: translate(328px);
			}


			.promo-cards__description {
				transform: translate(-428px);
			}

			.promo-cards__theme-name {
				transform: translateX(330px) rotate(-90deg);
			}
		}
		&_third {
			.promo-cards__card {
				transform: translate(656px);
			}


			.promo-cards__description {
				transform: translate(-332px);
			}

			.promo-cards__theme-name {
				transform: translateX(-330px) rotate(-90deg);
			}
		}
	}

	&_view {
		&_default {
			background: white;
		}
		&_ghost {
			background: #F5F5F5;

			.promo-cards__description, .promo-cards__item {
				color: black;
			}
		}
		&_inverse {
			background: #2E3033;

			.promo-cards__description, .promo-cards__item {
				color: white;
			}

			.promo-cards__controls {
				filter: invert();
			}
		}
	}


	&__content {
		margin: auto;
		width: 1022px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	&__theme-name {
		position: absolute;
		font-family: 'IBM Plex Mono';
		font-size: 200px;
		color: transparent;
		-webkit-text-stroke: .2px var(--color-alert);
		text-transform: uppercase;
		transform: rotate(-90deg);
		transition: transform .4s .3s;
	}
	&__controls {
		position: absolute;
		bottom: var(--space-xl);
		left: var(--space-xxxl);
	}
	&__list {
		flex-basis: 100%;
		display: flex;
		justify-content: center;
	}
	&__item {
		position: relative;
		width: 296px;
		font-family: 'IBM Plex Mono' !important;

		&:before {
			content: '';
			position: absolute;
			top: -504px;
			left: 0;
			width: 100%;
			height: 456px;
			box-sizing: border-box;
			border-radius: 12px;
			border: 1px solid rgba(0, 0, 0, .08);
		}

		& > div {
			transition: .3s ease;
			cursor: pointer;
		}
	}
	&__header {
		font-family: 'IBM Plex Sans' !important;
		font-size: 56px;
		font-weight: bold;
	}
	&__card {
		position: relative;
		top: 0px;
		width: 296px;
		height: 456px;
		margin-left: 35px;
		margin-right: 96px;
		border-radius: 12px;
		z-index: 1;
		/*box-shadow: 0 20px 10px -20px rgba(0, 0, 0, .6);*/
		transition: transform .4s .3s, box-shadow .3s;
	}

	&__hover {
		transition: transform .3s, box-shadow .3s;
		box-shadow: 0 4px 10px -4px rgba(0, 0, 0, .6);

		&:hover {
			transform: translateY(-6px);
			box-shadow: 0 30px 40px -20px rgba(0, 0, 0, .4);
			transition-timing-function: cubic-bezier(0.25, 0.1, 0, 1.9);
		}
	}
	&__description {
		flex-basis: 560px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		font-family: 'IBM Plex Mono' !important;
		z-index: 1;
		transition: transform .4s .3s;
	}

	&__card > * {
		position: absolute;
		top: 0;
		border-radius: 12px;
	}


	/*///// OFFER //////////////////////// */

	&__offer {

		&_type {
			&_goods {
				& .promo-cards__offer {

					&-background {
						transform: scale(1);
						opacity: 1;
						transition: transform .4s cubic-bezier(0.75,-0.5, 0.25, 1) .2s;
					}
					&-goods-price {
						transform: translateX(-50%);
						opacity: 1;
						transition: transform .4s .2s, opacity .3s .3s;
					}

					&-item {
						transform: translateX(0);
						opacity: 1;
						transition: transform .4s .25s, opacity .3s .35s;
					}

					&-title {
						transform: translateX(0);
						opacity: 1;
						transition: transform .4s .3s, opacity .3s .4s;
					}
					&-desc {
						transform: translateX(0);
						opacity: 1;
						transition: transform .4s .35s, opacity .3s .45s;
					}

					&-action {
						transform: translateY(0);
						transition: transform .4s .6s;
					}
				}

			}
		}

		&_type {
			&_brand {
				& .promo-cards__offer {

					&-background {
						transform: scale(0);
						opacity: 0;
						transition: transform .6s cubic-bezier(0.75,-0.7, 0.25, 1), opacity .1s .6s;
					}

					&-goods-price {
						transform: translateX(100%);
						opacity: 0;
						transition: transform .4s .2s, opacity .3s .3s;
					}

					&-item {
						transform: translateX(150%);
						opacity: 0;
						transition: transform .4s .25s, opacity .3s .35s;
					}

					&-title {
						transform: translateX(150%);
						opacity: 0;
						transition: transform .4s .3s, opacity .3s .4s;
					}
					&-desc {
						transform: translateX(150%);
						opacity: 0;
						transition: transform .4s .35s, opacity .3s .45s;
					}

					&-action {
						transform: translateY(200%);
						transition: transform .4s .05s;
					}
				}

			}
		}
	}

	/* MEDIA */
	&__media-video-back, &__media-video, &__media-video-title, &__media-video-footer {
		transition: .7s ease;
		transition-delay: .3s;
	}
	&__media-text-back, &__media-cover, &__media-article, &__media-text-footer, &__media-author-top {
		transition: .7s ease;
		transition-delay: .3s;
	}
	&__media-music-back, &__media-music-cover, &__media-playlist {
		transition: .7s ease;
		transition-delay: .3s;
	}

	&__media {
		.media {
			position: absolute;
			top: 0;
			border-radius: 12px;
		}

		&_type {
			&_video {
				.promo-cards__media-video-back {
					opacity: 1;
				}
				.promo-cards__media-video {
					transform: translateY(0) scale(1);
				}
				.promo-cards__media-video-title {
					transform: translateY(0);
				}
				.promo-cards__media-video-footer {
					transform: translateY(0);
					transition-delay: .5s;
				}

				.promo-cards__media-text-back {
					opacity: 0;
				}
				.promo-cards__media-cover {
					transform: translateY(-200px) scale(1.5);
				}
				.promo-cards__media-author-top {
					transform: translateY(-200px);
					transition-delay: .5s;
				}
				.promo-cards__media-article {
					transform: translateY(500px);
				}
				.promo-cards__media-text-footer {
					transform: translateY(100px);
					transition-delay: .5s;
				}

				.promo-cards__media-music-back {
					opacity: 0;
				}
				.promo-cards__media-music-cover {
					transform: translateY(-500px) scale(1.5);
				}
				.promo-cards__media-playlist {
					transform: translateY(500px);
				}
			}
			&_text {
				.promo-cards__media-video-back {
					opacity: 0;
				}
				.promo-cards__media-video {
					transform: translateY(-500px) scale(1.5);
				}
				.promo-cards__media-video-title {
					transform: translateY(500px);
				}
				.promo-cards__media-video-footer {
					transform: translateY(100px);
					transition-delay: .5s;
				}

				.promo-cards__media-text-back {
					opacity: 1;
				}
				.promo-cards__media-author-top {
					transform: translateY(0);
					transition-delay: .5s;
				}
				.promo-cards__media-cover {
					transform: translateY(0) scale(1);
				}
				.promo-cards__media-article {
					transform: translateY(0);
				}
				.promo-cards__media-text-footer {
					transform: translateY(0);
					transition-delay: .5s;
				}

				.promo-cards__media-music-back {
					opacity: 0;
				}
				.promo-cards__media-music-cover {
					transform: translateY(-500px) scale(1.5);
				}
				.promo-cards__media-playlist {
					transform: translateY(500px);
				}
			}
			&_music {
				.promo-cards__media-video-back {
					opacity: 0;
				}
				.promo-cards__media-video {
					transform: translateY(-500px) scale(1.5);
				}
				.promo-cards__media-video-title {
					transform: translateY(500px);
				}
				.promo-cards__media-video-footer {
					transform: translateY(100px);
					transition-delay: .5s;
				}

				.promo-cards__media-text-back {
					opacity: 0;
				}
				.promo-cards__media-cover {
					transform: translateY(-200px) scale(1.5);
				}
				.promo-cards__media-author-top {
					transform: translateY(-200px);
					transition-delay: .5s;
				}
				.promo-cards__media-article {
					transform: translateY(500px);
				}
				.promo-cards__media-text-footer {
					transform: translateY(100px);
					transition-delay: .5s;
				}

				.promo-cards__media-music-back {
					opacity: 1;
				}
				.promo-cards__media-music-cover {
					transform: translateY(0) scale(1);
				}
				.promo-cards__media-playlist {
					transform: translateY(0);
				}
			}
		}
	}
}
