:block(button):mod(theme blue) {
    width: 255px;
    height: 52px;
    background-image: linear-gradient(to top, #68bdf8 0%, #81c9fa 100%);
    box-shadow: 0 5px 0 #4b9ad1;
    max-width: 100%;
    font: 16px "Russia Bold", sans-serif;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.21);
    line-height: 54px;
    text-align: center;
    position: relative;
    top: 0;
    transition: .2s;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    backface-visibility: hidden
    &:active {
        top: 5px;
        box-shadow: 0 0 0
    }
}


