@import "../../_bufer/mq.post.css"

.link
    padding: 0 15px
    font-size: 22px

@media (--xlarge-only) {
    .link {
        font-size: 20px
    }
}

@media (--large-only) {
    .link {
        font-size: 16px
    }
}

@media (--medium-only) {
    .link {
        font-size: 16px
    }
}

@media (--small-only) {
    .link {
        font-size: 14px
    }
}

@media (--xsmall-only) {
    .link {
        padding: 0 15px
        font-size: 14px
    }
}