.vector-item {
  padding: 20px 0;
  display: block;
  margin-right: $space-l;
  margin-bottom: 20px;
  &__view {
    width: 208px;
    height: 148px;
    background: var(--color-ghost);
    margin: 0;
    display: flex;
    justify-content: center;
    margin-bottom: $space-s;
  }
  &__name {
    font-size: 15px;
/*    text-align: center;*/
  }
}