.demo {
	scroll-snap-points-y: repeat(100%);
	scroll-snap-type: mandatory;
	scroll-snap-destination: 100% 0%;
}

@media screen and (max-width: 1199px) {
	.demo {
		height: 100vh;
		overflow: hidden;
	}
}