.illustration {
	background-repeat: no-repeat;
	width: 400px;
	height: 300px;
	background-size: 400px;
	&_view {
		&_bem-team {
			background-image: url('bem-team.svg');
		}
		&_bem-channel {
			background-image: url('bem-channel.svg');
		}
		&_bem-night {
			background-image: url('bem-night.svg');
		}
		&_bem-show {
			background-image: url('bem-show.svg');
		}
		&_bem-magazine {
			background-image: url('bem-magazine.svg');
		}
	}
}
