@import "../../../_bufer/mq.post.css"

.sitemap__title {
    padding 0 15px 30px 0
    margin-top 70px
    margin-left 5px
    margin-bottom 30px
    font-family: "Russia Bold", sans-serif
    font-size: 22px
    box-sizing: border-box
    border-bottom 2px solid #333
    outline: none
    -webkit-tap-highlight-color: transparent
    color: #333
}
    
.sitemap__title .link {
    font-family: "Russia Bold", sans-serif
}

.sitemap__title_link_false {
    padding-bottom 30px
    padding-left 15px
    line-height 40px
    color: #777
    border-bottom 2px solid #333
}

@media (--xlarge-only) {
    .sitemap__title {
        font-size: 20px
    }
}

@media (--large-only) {
    .sitemap__title {
        font-size: 16px
    }
}

@media (--medium-only) {
    .sitemap__title {
        font-size: 16px
    }
}

@media (--small-only) {
    .sitemap__title {
        margin-top 40px
        font-size: 14px
    }
}

@media (--xsmall-only) {
    .sitemap__title {
        padding: 0 0 10px 0;
        margin-top 30px
        margin-bottom 10px
        font-size: 14px
    }
    .sitemap__title_link_false {
        padding-left 15px
        line-height 35px
    }

}
